@model Clinica.Models.ClinicaModel

<h2>Nova Clínica</h2>

<form method="post">
    <label>Nome:</label>
    <input type="text" name="Nome" required />
    <br /><br />
    <button type="submit">Salvar</button>
</form>

<a href="/Clinica">Voltar</a>